@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Forza il menu di Google Maps a stare sopra a tutto */
.pac-container {
    z-index: 99999 !important;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Opzionale: Smooth scroll per le ancore */
html {
  scroll-behavior: smooth;
}

/* In src/app/globals.css */

@layer utilities {
  .ligatures-on {
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "liga" 1, "calt" 1;
  }
}